/* Stylin */

/* Navin */

.top-border {
  width: 100%;
  position: fixed;
  height: 2px;
  background: #32a699;
  z-index: 1;
}

.header {
  	position: relative;
  	padding-top: 150px;
  	height: 550px;
  	text-align: left;
  	width: 100%;
    background-color: #2e2e2e;
}

.header-two {
    width: 100%;
    border-top-width: 2px;
    border-top-color: #2e2e2e;
    border-top-style: solid;
    text-align: center;
    background-color: #2e2e2e;
}

.row-bot {
  padding-top: 30px;
  padding-bottom: 60px;
  clear: both;
}

h1 {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 60px;
	font-weight: 200;
	color: #ffffff;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
  margin: 0px;
}

.one-h, .two-h, .three-h, .four-h, .five-h, .six-h {
  visibility: hidden;
  display: inline-block;
}

.sub {
  visibility: hidden;
}

.footy {
  display: hidden;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 0;
  color: #c2c2c2;
}

.slide-right, .slide-left {
  display: hidden;
}

h2 {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 55px;
	font-weight: 700;
	color: #ffffff;
  -webkit-font-smoothing: antialiased;
	display: block;
	margin: 0px;
}

h2 a {
  color: #3A71A6;
  text-decoration: none;
}

h2 a:hover {
  color: #6CA0D2;
  text-decoration: none;
  transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
}

h3 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #170B0B;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: left;
}

h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Cabin', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #919191;
  font-variant:small-caps;
}

h5 {
  font-family: 'Cabin', Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 400;
  text-align: center !important;
  color: #919191;
  margin-top: 5px;
}


p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  color: #2e2e2e;
  line-height: 30px;
}

p a {
  color: #3A71A6;
  text-decoration: none;
}

p a:hover {
  color: #6CA0D2;
  text-decoration: none;
  transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
}

#txt-body {
  font-size: 26px;
  line-height: 37px;
  font-weight: 50;
  color: #2e2e2e;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.top-node-left {
  width: 50%;
  position: relative;
  min-height: 1px;
  margin: 0;
  padding: 0;
  float: left;
  height: 100%;
}

.top-node-right {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 60px;
  padding-right: 0px;
  float: right;
  height: 100%;
}

.button-click {
  margin-top: 30px;
  background: url('nebula.jpg') right top;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 0px #FF864C;
  text-align: center;
  font-variant: small-caps;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 22px;
  text-shadow: 0px 1px #2e2e2e;
  color: white;
  font-weight: 700;
  padding-top: 4px;
  letter-spacing:2px;
  cursor:pointer;
}

.button-click:hover {
  background: url('nebula.jpg') left bottom;
  box-shadow: 0px 2px 0px #FFBB9A;
  transition: 7s ease-in-out;
  -moz-transition: 7s ease-in-out;
  -webkit-transition: 7s ease-in-out;
  cursor:pointer;
}

.button-click-detail {
  margin-top: 20px;
  background: url('nebula.jpg') right center;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 0px #FF864C;
  text-align: center;
  font-variant: small-caps;
  text-shadow: 0px 1px #2e2e2e;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 22px;
  color: white;
  font-weight: 800;
  padding-top: 4px;
  letter-spacing:2px;
  cursor:pointer;
}

.button-click-detail:hover {
  background: url('nebula.jpg');
  box-shadow: 0px 2px 0px #FFA479 center center;
  transition: 7s ease-in-out;
  -moz-transition: 7s ease-in-out;
  -webkit-transition: 7s ease-in-out;
  cursor:pointer;
}

.text-line {
  border-top-color: url('nebula.jpg') !important;
	display: inline-block;
	width:60px;
  margin-right: 15px;
  margin-bottom: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#toppy-i, #toppy-txt {
  display: hidden;
}

.toppy {
  margin-top: 900px;
}

/* Social */

#social {
	padding-top: 20px;
	margin: 0 auto;
  visibility: hidden;
  display: inline-block;
}

#social-bottom {
  padding-top: 20px;
  margin: 0 auto;
  display: hidden;
}

#linkedin {
  background: white;
	display: inline-block;
	height: 44px;
	vertical-align: top;
  margin-right: 10px;
}

#twitter {
  background: white;
	display: inline-block;
	height: 47px;
	vertical-align: bottom;
	margin-right: 10px;
  margin-bottom: 1px;
}

#email {
  background: white;
  display: inline-block;
  height: 44px;
  vertical-align: top;
  margin-top: 5px;
}

#social img {
  transition: ease-in-out;
  -moz-transition: ease-in-out;
  -webkit-transition: ease-in-out;
}

#social img:hover, #social-bottom img:hover {
  background: url('neb-bg.jpg') center center;
}

#bang-bot {
  background: url('neb-bg.jpg') right top;
  margin-top: 60px;
  height: 50px;
  display: block;
}

/*!
 * Bootstrap v3.0.0
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
section,
nav,
summary {
  display: block;
}


[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}

img {
  border: 0;
  margin: 0 auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

hr {
  border: 0;
  border-top: 3px solid white;
  width: 40%;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

.img-node {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  background-color: #ffffff;
  height: 100%;
}

.text-node {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 60px;
  float: left;
  background-color: #ffffff;
}

.detail-node {
  position: absolute;
  float: left;
  background-color: #ffffff;
  visibility: hidden;
  width: 1040px;
  padding-top: 30px;
}

.detail-node p {
  font-size: 20px;
  line-height: 28px;
}

.detail-node a {
  font-weight: 700;
}

.detail-left {
  padding-bottom: 90px;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  float: left;
}

.detail-right {
  padding-bottom: 90px;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 60px;
  float: left;
  background-color: white;
}

.detail-h {
  font-size: 22px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container:before,
.container:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}

.container:after {
  clear: both;
}

.row {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.row-txt {
    background: url('graphy.png');
    background-repeat:repeat;
    width: 100%;
    padding-top: 100px;
    height: 330px;
    margin: 0 auto;
    position: relative;
    border-bottom: 2px solid #cbcbcb
}

.row-work {
    background: url('graphy.png');
    background-repeat:repeat;
    width: 100%;
    padding-top: 100px;
    height: 330px;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
    border-top: 2px solid #cbcbcb
}

.row:before,
.row:after, .row-txt:after, .row-txt:before, .row-work {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}

.row:after, .row-txt:after {
  clear: both;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 768px) {

.container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}

#bang {
  height: 40px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

.text-line {
  display: none;
}

p {
  font-size: 20px;
  line-height: 28px;
}

#txt-body {
  font-size: 20px;
  line-height: 32px;
}

.top-node-left {
  width: 100%;
  float: left;
}

.top-node-right {
  width: 100%;
  padding-left: 0;
  float: left;
  padding-top: 15px;
}

.row-txt {
    padding-top: 30px;
    height: 100%;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.img-node {
  width: 100%;
  padding-bottom: 15px;
}

.text-node {
  width: 100%;
  padding-left: 0px;
}

.button-click {
  display: none;
}

.row-work {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
}

.header {
    padding-top: 50px;
    height: 100%;
    padding-bottom: 50px;
}

.detail-node {
  display: none;
  width: 100%;
}

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1040px) {

.container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}

p {
  font-size: 24px;
  line-height: 32px;
}

#txt-body {
  font-size: 20px;
  line-height: 32px;
}

.top-node-left {
  width: 100%;
  float: left;
}

.top-node-right {
  width: 100%;
  padding-left: 0;
  float: left;
  padding-top: 15px;
}

.row-txt {
    padding-top: 30px;
    height: 100%;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.toppy {
  margin-top: 0px;
}

.row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.img-node {
  width: 100%;
  padding-bottom: 15px;
}

.text-node {
  width: 100%;
  padding-left: 0px;
}

.button-click {
  display: none;
}

.row-work {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
}

.header {
    padding-top: 50px;
    height: 100%;
    padding-bottom: 50px;
}

.detail-node {
  display: none;
  width: 100%;
}

}