/* Stylin */

/* Navin */

ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

li {
  display: inline-block;
}

.top-border {
  width: 100%;
  position: fixed;
  height: 4px;
  background-color: #2A455A;
  z-index: 1;
}

.header {
  	position: relative;
  	padding-top: 150px;
  	height: 600px;
  	text-align: left;
  	width: 100%;
    background-color: #2e2e2e;
    border-bottom: 4px solid #2A455A;
}

.header-two {
    width: 100%;
    border-top-width: 2px;
    border-top-color: #2e2e2e;
    border-top-style: solid;
    text-align: center;
    background-color: #2e2e2e;
}

.row-bot-top {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 60px;
  clear: both;
  background-color: #2e2e2e !important;
}

.row-bot {
  padding-top: 30px;
  padding-bottom: 60px;
  clear: both;
}


.left-h2 {
  text-align: left !important;
}

.weight-h {
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 26px;
  font-family: 'Cabin', Arial, sans-serif;
  margin: 0px;
  color: #ffffff;
  margin-bottom: 12px;
  line-height: 26px;
  text-align: left;
}

.pub {
  margin-bottom: 30px;
}

#publications {
  margin-top: 30px;
}

.last {
  margin-bottom: 30px;
}

.dead-last {
  font-family: 'Cabin', Arial, sans-serif;
  font-size: 360px;
  color: #ffffff;
  display: block;
  text-align: center !important;
  font-weight: 800;
  position: relative;
  z-index:1000;
  height: 280px;
  overflow: hidden;
  margin-bottom: -30px;
}

h1 {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 65px;
	font-weight: 200;
	color: #ffffff;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
  margin: 0px;
}

.work-heading {
  color: black;
}

.one-h, .two-h, .three-h, .four-h, .five-h, .six-h {
  visibility: hidden;
  display: inline-block;
}

.sub {
  visibility: hidden;
}

.footy {
  display: hidden;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 0;
  color: #c2c2c2;
}

.slide-right, .slide-left {
  display: hidden;
}

h2 {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 50px;
	font-weight: 200;
	color: #ffffff;
  -webkit-font-smoothing: antialiased;
	display: block;
	margin: 0px;
}

h2 a {
  color: #3A71A6;
  text-decoration: none;
}

h3 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #170B0B;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: left;
}

h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Cabin', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #919191;
  font-variant:small-caps;
}

h5 {
  font-family: 'Cabin', Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 400;
  text-align: center !important;
  color: #919191;
  margin-top: 5px;
}


p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  color: #2e2e2e;
  line-height: 26px;
}

p a {
  color: #3A71A6;
  text-decoration: none;
}

p a:hover {
  color: #6CA0D2;
  text-decoration: none;
  transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
}

#txt-body {
  font-size: 26px;
  line-height: 37px;
  font-weight: 50;
  color: #2e2e2e;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.top-node-left {
  width: 50%;
  position: relative;
  min-height: 1px;
  margin: 0;
  padding: 0;
  float: left;
  height: 100%;
}

.top-node-right {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 60px;
  padding-right: 0px;
  float: right;
  height: 100%;
}

.button-click {
  margin-top: 30px;
  background: #3A71A6;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 0px #FF864C;
  text-align: center;
  font-variant: small-caps;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 22px;
  color: white;
  font-weight: 700;
  padding-top: 4px;
  letter-spacing:2px;
  cursor:default;
}

.button-click:hover {
  background: #6CA0D2;
  box-shadow: 0px 2px 0px #FFA479;
  transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  cursor:default;
}

.button-click-detail {
  margin-top: 20px;
  background: #3A71A6;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 0px #FF864C;
  text-align: center;
  font-variant: small-caps;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 22px;
  color: white;
  font-weight: 800;
  padding-top: 4px;
  letter-spacing:2px;
  cursor:default;
}

.button-click-detail:hover {
  background: #6CA0D2;
  box-shadow: 0px 2px 0px #FFA479;
  transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  cursor:default;
}

.text-line {
	display: inline-block;
	width:50px;
	color: white;
  margin-right: 15px;
}

.h1-line {
  display: block;
  padding-top: 30px;
  width:50px;
  color: white;
  vertical-align: middle;
  margin: 0 auto;
}

.divider {
  width:200px;
  height: 1px;
  vertical-align: middle;
}

.divider-two {
  margin-bottom: 40px;
  margin-top: 50px;
  width:600px;
  height: 0.5px;
  color: white;
  vertical-align: middle;
  visibility: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#toppy-i {
  display: hidden;
}

#toppy-txt {
  display: hidden;
}

.toppy {
  margin-top: 900px;
}

/* Social */

#social {
	padding-top: 30px;
	margin: 0 auto;
  visibility: hidden;
  display: inline-block;
}

#social-bottom {
  padding-top: 20px;
  margin: 0 auto;
  display: hidden;
}

#linkedin {
	display: inline-block;
	height: 33px;
	vertical-align: top;
  margin-right: 10px;
}

#twitter
	{
	display: inline-block;
	height: 35px;
	vertical-align: bottom;
	margin-right: 10px;
}

#email {
  display: inline-block;
  height: 33px;
  vertical-align: top;
  margin-top: 3px;
}

#social img {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#social img:hover {
   opacity: 0.75;
}

/*!
 * Bootstrap v3.0.0
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
section,
nav,
summary {
  display: block;
}

}
[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}

img {
  border: 0;
  margin: 0 auto;
}

.folio {
  visibility: hidden;
}

.folio-copy {
  visibility: hidden;
}

.folio-copy-left {
  visibility: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

.img-rounded {
  border-radius: 6px;
}

.img-circle {
  border-radius: 50%;
  height: 43px;
}

hr {
  border: 0;
  border-top: 3px solid white;
  width: 40%;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

.img-node {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  background-color: #ffffff;
  height: 100%;
}

.text-node {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 60px;
  float: left;
  background-color: #ffffff;
}

.detail-node {
  position: absolute;
  float: left;
  background-color: #ffffff;
  visibility: hidden;
  width: 1040px;
  padding-top: 30px;
}

.detail-node p {
  font-size: 20px;
  line-height: 28px;
}

.detail-left {
  padding-bottom: 90px;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  float: left;
}

.detail-right {
  padding-bottom: 90px;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 60px;
  float: left;
  background-color: white;
}

.detail-p {
  -moz-column-count:2;
  -webkit-column-count:2;
  column-count:2;
  -moz-column-gap:15px;
  -webkit-column-gap:15px;
  column-gap:15px;
  margin-bottom: 15px;
}

.detail-h {
  font-size: 22px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container:before,
.container:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}

.container:after {
  clear: both;
}

.row {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
}

.row-txt {
    background: url('graphy.png');
    background-repeat:repeat;
    width: 100%;
    padding-top: 100px;
    height: 330px;
    margin: 0 auto;
    position: relative;
    border-bottom: 2px solid #cbcbcb
}

.row-work {
    background: url('graphy.png');
    background-repeat:repeat;
    width: 100%;
    padding-top: 100px;
    height: 330px;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
    border-top: 2px solid #cbcbcb
}

.row-work-before {
    position: relative;
    top: 100%;
    left: 50%;
    margin-left: -50%;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 30px #83D5B8;
    border-left: 1270px solid transparent;
    border-right: 1270px solid transparent;
    z-index: 1;
    margin-top: 60px;
}

.top-row {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #cbcbcb;
}

.bot-row {
  padding-bottom: 15px;
}

.tile {
  width: 25%;
  position: relative;
  min-height: 1px;
  padding: 0;
  margin: 0;
  float: left;
}

.tile-wide {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding: 0;
  margin: 0;
  float: left;
}

.pad-left {
  padding-left: 60px;
}

.row-sh {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #2e2e2e !important;
  padding-top: 60px;
  padding-bottom: 30px;
}

.botty {
  margin-bottom: 30px !important;
}

.botty-less {
  padding-bottom: 30px !important;
}

.row:before,
.row:after, .row-txt:after, .row-txt:before, .row-work {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}

.row:after, .row-txt:after {
  clear: both;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) {

.container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

#txt-body {
  font-size: 20px;
  line-height: 32px;
}

.top-node-left {
  width: 100%;
  float: left;
}

.top-node-right {
  width: 100%;
  padding-left: 0;
  float: left;
  padding-top: 15px;
}

.row-txt {
    padding-top: 30px;
    height: 100%;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.toppy {
  margin-top: 0px;
}

.row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.img-node {
  width: 100%;
  padding-bottom: 15px;
}

.text-node {
  width: 100%;
  padding-left: 0px;
}

.button-click {
  display: none;
}

.row-work {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
}

.header {
    padding-top: 50px;
    height: 100%;
    padding-bottom: 50px;
}

}